<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <style>
   div {
       display:flex;
       justify-content:space-around;
   }
   button {
       width: 100%;
       margin: 5px;
   }
  </style>
 </head>
<body>
<div class="center">
    <p><b>Сервис для электронного магазина</b></p>
</div>
<div class="center" style="width: 100%">
      <p><a href="/table"><button type="submit">Показать таблицу товаров</button></a><br>
          <a href="/add"><button type="submit">Добавить товар</button></a><br>
          <a href="/filter_by"><button type="submit">Фильтровать</button></a><br>
          <a href="/find_prod"><button type="submit">Найти товар по id</button></a><br>
          <a href="/remove"><button type="submit">Удалить все записи</button></a><br></p>
</div>
</body>
</html>
